@use '../base/helpers' as *;

.header {
    margin-top: rem(44);
    &__description {
        padding-block: rem(20);
        text-align: center;

        &-subtitle {
            font-size: rem(16);
            color: black;
        }
        &-title {
            font-size: rem(46);
            color: black;
        }
    }
}
