@use '../../base/helpers' as *;

.tabs {
    margin-top: rem(85);

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // flex-wrap: wrap;
        @include tablet {
            flex-direction: column;
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: rem(12);
            @include tablet {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
            @include mobile {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &-btn {
            position: relative;
            transition: color 0.3s ease;
            border: none;
            background-color: transparent;
            color: var(--color-gray-600);

            &:hover {
                color: var(--color-primary);
                opacity: 0.8;
            }

            &.is-active {
                color: var(--color-primary);
                cursor: pointer;

                border: var(--border);
                border-radius: rem(4);
                color: var(--color-primary);

                &:hover {
                    opacity: 1;
                }
            }
        }
        &-badge {
            position: absolute;
            top: 20%;
            right: 10%;
            font-size: rem(10);
        }
        &-title {
            font-size: rem(16);
            padding: rem(10) rem(20);
        }

        &-search {
            position: relative;
            @include tablet {
                margin-top: rem(20);
            }
        }
        &-input {
            width: rem(315);
            font-size: rem(14);
            color: var(--color-gray-600);
            padding: rem(12) rem(16);
            border: var(--border-input);
            border-radius: rem(4);
            padding-right: rem(20);
        }

        .icon-search {
            position: absolute;
            top: 40%;
            right: 5%;
            color: var(--color-gray-600);
        }
    }
}
